<html lang="en">


  <meta charset="utf-8" />

  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/user_confirmation.css" type="text/css" />
  <script src="/vendor/jquery-3.0.0.js"></script>

  <head>
    <title>Order summary</title>
    <meta charset="UTF-7">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>const menu = '<%- JSON.stringify(order) %>'</script>
    <script src="/scripts/user_confirmation"></script>
  </head>
  <body>
    <header><%- include('partials/_header') %></header>
    <main>
      <h1 class="header1">Order Summary</h1>
      <h2 class="header4">Estimate time: <%= order.estimated_time %>min</h2>

      <h2 class="header2">Placeholder for list of items: <%= order.order_food %></h2>
      <!-- <div> items will go into here </div> -->
        </div>
        <h2 class="header3">Total: <%= order.total_price %></h2>
        <!-- <div> will calculate total here</div> -->
        <button type="submit" class="btn btn-primary place-order" href="/homepage">Back To shop</button>
      </form>
    </main>
  </body>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  </body>

</html>
